a{
    color: #3300ff;
}

.markdown-body {
  width: 100%;
  margin: 0.5rem 0.5rem;
  font-size: 16px;
}

.markdown-body p {
  font-size: 16px;
  line-height: 1.9em;
  margin-bottom: 1.2em;
}

.markdown-body li {
  line-height: 1.9em;
}

input.task-list-item-checkbox {
  margin-right: 4px;
}

img[src*="demo"] {
  border: 1px #eee solid;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 4px 4px 16px 0px rgba(50, 50, 50, 0.1);
}

@media only screen and (min-width: 1170px) {
  img[src*="demo"] {
    max-width: 130%;
    margin-left: -15%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
blockquote {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
pre {
  font-size: 1.1rem;
  line-height: 1.5;
  border: 2px dashed blue;
  white-space: pre-wrap;
  padding: 0.3rem;
}
.wikilink:before {
  content: "[[";
  opacity: 0.5;
}

.wikilink:after {
  content: "]]";
  opacity: 0.5;
}

.github-only {
  display: none;
}
.highlight{
  background-color: black;
  color:white;
}
.k{
  color:blue;
}
.p{
  color:red;
}
.c1{
  color:gray;
}
.nx,.sl{
  color:purple;
}

.announcement {
  background: #ffffff;
  padding: 4px 16px;
  color: rgb(160, 18, 132);
  border-radius: 4px;
}
code{
  color:green;
  font-style: italic;
}


.summary{
  border:2px dashed gray;
  padding:0.4rem;
  margin: 0.5rem 3px;
  border-radius: 10px;
}
